/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_body{
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
}


.top_body h1{
  font-size: 30px;
}

.top_body p{
  margin: 33px;
  font-size: 13px;
}

.index_body{
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.index_body h1{
  margin: 18px 0;
}

.index_body table{
  text-indent: initial;
  border-spacing: 10px;
}

.index_body h2{
  margin: 18px 0;
}

.index_body div{
  margin-bottom: 10px;
  display: block;
}

.show_body{
  margin: 33px;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.show_error_message{
  color: green;
}

.show_body p{
  margin: 33px;
}

.edit_body{
  margin: 33px;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.edit_body h1{
  margin: 18px 0;
}

.edit_body div{
  margin-bottom: 10px;
  display: block;
}